html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}

.container{
	display: flex;
}

.containerSub{
	display: block;
}

.color-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.status{
  --online-color: greenyellow;
  --offline-color: red;
  height: 200px;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  line-height: 200px;
}
#statusClient {
  background-color: greenyellow;
}

#statusServer {
  background-color: red;
}

#statusWebSocketServer{
  background-color: greenyellow;
}



.col{
  display: flex;
  flex-direction: column;
  width: 50%;
}