.overlay.transparent{
	background: rgba(0, 0 ,0, 0);
}

.transparent .champion-select-header, .transparent .champion-select-header::before, .transparent .header-keystone,.transparent .left-bg-section, .transparent .right-bg-section, .transparent .header-keystone-inner{
	background: rgba(0, 0 ,0, 0);
}

.transparent .champion-select-header .header-keystone, .transparent .champion-select-header .header-keystone> .left-bg-section, .transparent .champion-select-header .header-keystone> .right-bg-section{
	background: rgba(0, 0 ,0, 0);
}